* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body {
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    width: 1080px;
    margin: 30px auto;
    padding:  40px 20px 20px 20px;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #1B1B1B;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.legenda { 
    font-size: 12px;
    font-weight: 400;
    color: #8F8F8F;
    text-align: right;
   }

   .subtitulo {
    font-size: 20px;
    font-weight: 700;
    color: #1B1B1B;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
   }

   .lista {
       margin-left: 20px;
   }
.lista li{
    margin-bottom: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #1B1B1B;
    font-size: 16px;
}

.infos p {
    font-size: 16px;
    font-weight: 400;
    color: #1B1B1B;
    line-height: 26px;
}

.rodape p {
    font-size: 12px;
    font-weight: 400;
    color: #8F8F8F;
    text-align: center;
    margin-bottom: 15px;
}













   /*
   .tudo {
       background-color: #EAEAEA;
   }
   .container {
       background-color: #fff;
       border-radius: 5px;
       width: 1080px;
       margin: 30px auto;
       padding: 40px 40px 20px 40px;
   }
   .cabecalho h1{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #1B1B1B;
    text-align: center;
    text-transform: uppercase;
   }
   .legenda {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #1B1B1B;
    text-align: right;
   }
   .subtitulo {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1B1B1B;
    text-align: center;
    text-transform: uppercase;
   }
   .lista {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1B1B1B;
    text-align: left;
    line-height: 26px;
   }
   */